.authWrapper
  height: 100%
  flex: 1 0 auto
  position: relative
  display: flex
  justify-content: center
  padding-top: 10vh
.controlsWrapper
  text-align: center
.paper
  padding: 20px 40px 30px 40px
  display: flex
  flex-direction: column
.tabsWrapper
  min-width: 300px
  max-width: 500px
  text-align: center
  display: inline-block
.lastField
  margin-bottom: 20px
.checkbox
  text-align: left
