.listItem
  padding: 10px 0
  display: flex
  align-items: center
  justify-content: space-between
.leftSide
  display: flex
  align-items: center
.name
  display: flex
  flex-direction: column
  margin-left: 20px
.subText
  font-size: .9em
  line-height: 16px
  height: 16px
  margin: 4px 0px 0px
  color: rgba(0, 0, 0, .54)
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
.controls
  display: flex
  align-items: center
