.tag
  padding: 5px 10px
  border-radius: 10px
  box-shdow: rgba(117, 117, 117, .12) 0px 1px 6px, rgba(117, 117, 117, .12) 0px 1px 4px
  font-size: .9em
.send
  composes: tag
  background-color: rgb(205, 224, 144)
  color: #7e8e4c
.cancel
  composes: tag
  background-color: #ff9679
  color: #985b4a
