.tag
  padding: 3px 5px
  border-radius: 10px
  box-shdow: rgba(117, 117, 117, .12) 0px 1px 6px, rgba(117, 117, 117, .12) 0px 1px 4px
  font-size: .7em
  cursor: default
.send
  composes: tag
  color: #ff9800
  border: 2px solid #ff9800
.cancel
  composes: tag
  color: #d03f16
  border: 2px solid #d03f16
.success
  composes: tag
  color: #009688
  border: 2px solid #009688
